pre {
    padding: .75rem;
    margin-top: 0;
    margin-bottom: .75rem;
    overflow-x: auto;
    background-color: #f5f6fa;
    border-radius: 4px;
    box-shadow: none;
}

code {
  border: none
}

.tablinks {
  padding-right: 10px;
}
.tablinks.active {
  text-decoration: underline;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
  text-decoration: underline;
}

/* Style the tab content */
.language-ocaml, .language-reason, .output-language-javascript {
  display: none;
}
 
.language-javascript, .language-ocaml-invalid {
  display: block;
}
