<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
  <meta http-equiv="cleartype" content="on">
  <title></title>
  <link rel="stylesheet" href="/styles/typesettings.css">
  <link rel="stylesheet" href="/styles/prism.css">
  <link rel="stylesheet" href="/styles/main.css">
  <meta name="description"
    content="Typesettings.css is inspired by traditional graphic design fundamentals and the perfect lite design systems for any minimal website or article design.">
</head>

<body>
  <a href="#content">
    Skip to content
  </a>
  <div data-typesettings="golden">
    <nav>
      <ul>
        <li>
          <h1>
            <a href="/">
              Melange.re
            </a>
          </h1>
        </li>
        <li>
          <ul class="chapters-navigation"></ul>
        </li>
        <li>
          <ul>
            <li>
              <a href="https://github.com/melange-re/melange" aria-label="Code repository" target="_blank"
                rel="noopener noreferrer">Github</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main id="content">
    </main>
  </div>
  <script>
    function openLangTab(evt, langClassName) {
      var i, tabcontent, tablinks;
      var target = evt.currentTarget;
      tabcontents = target.parentNode.nextElementSibling.querySelectorAll("code");
      tabcontents.forEach(function(tabcontent) {
        tabcontent.style.display = "none";
      });
      tablinks = target.parentNode.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      target.parentNode.nextElementSibling.getElementsByClassName(langClassName)[0].style.display = "block";
      evt.currentTarget.className += " active";
    }
    Array.from(document.getElementsByClassName("button-language-ocaml")).forEach(function (element) {element.click();});
  </script>
</body>

</html>